# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/.vs/ProjectSettings.json
src/.vs/slnx.sqlite
src/.vs/src/v15/Browse.VC.opendb
src/.vs/src/v15/Browse.VC.db
